:root {
  --background-color: #fff;
  --btn-color: #0987f2;
  --btn-text-color: #fff;
  --project-card-bg: #ffffff00;
  --text-color: #222;
  --form-text-color: #555;
  --footer-text-color: #888;
  --education-text-color: #555;
  --education-headingText-color: #555;

  --card-bg: #ffffff; /* ✅ White cards */
  --card-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
  --card-hover-shadow: 0px 12px 32px rgba(0, 0, 0, 0.15);
  --card-hover-bg: rgba(255, 255, 255, 0.001);

  /* skill container */
  --skills-container-bg: #ffffff; /* White container */
  --skills-container-border: rgba(0, 0, 0, 0.1);
  --skills-card-bg: #f9f9f9; /* Light skill card */
  --skills-card-border: rgba(0, 0, 0, 0.08);
  --skills-category-text-color: #222;
  --skills-title-text-color: #222;

  --skills-card-hover-bg: rgba(255, 255, 255, 0.001);
}

[data-theme="dark"] {
  --background-color: #222;
  --btn-color: #fff;
  --btn-text-color: #222;
  --project-card-bg: #fff;
  --text-color: #fff;
  --form-text-color: #fff;
  --footer-text-color: #bbb;
  --education-text-color: #fff;
  --education-headingText-color: #fff;

  --card-bg: #292727; /* ✅ Dark cards */
  --card-border: rgba(255, 255, 255, 0.01); /* ✅ Soft white border */
  --card-hover-bg: rgba(255, 255, 255, 0.001);
  --card-shadow: 0px 6px 18px rgba(0, 0, 0, 0.09);
  --card-hover-shadow: 0px 12px 32px rgba(0, 0, 0, 0.3);

  /* skill container */
  --skills-container-bg: #292727; /* Dark container */
  --skills-container-border: rgba(255, 255, 255, 0.15);
  --skills-card-bg: #fff; /* Dark skill card */
  --skills-text-color: #222;
  --skills-category-text-color: #fff;
  --skills-title-text-color: #fff;
  --skills-card-border: rgba(255, 255, 255, 0.1);

  --skills-card-hover-bg: rgba(255, 255, 255, 0.001);
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

h1,
h2,
h3,
p {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h2,
h3,
p {
  font-family: "Roboto Mono", monospace;
}

h1,
h2 {
  text-transform: uppercase;
}

h2,
h3 {
  font-size: 20px;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 32px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.sectionTitle {
  margin-bottom: 30px;
}

.hover {
  cursor: pointer;
}
